{% extends "env_issues/base.html" %}
{% load staticfiles %}

{% block javascript %}{% endblock %}

{% block title %}The Liveability Team{% endblock %}
{% block heading %}The Team{% endblock %}

{% block content %}
<table class="pagelayout">
<tr>
		<td class="bodyText" colspan="2">Liveability is a collaborative project at the University of New South Wales between The Faculty of the Build Environment and The School of Electrical Engineering and Telecommunications.</td>
		</tr>
</table>

	<table border="0" cellspacing="0" cellpadding="2" width="700">
		
        <tr>
          <td class="subHeader" valign="bottom">Ass. Prof. Catherine Bridge</td>
          <td rowspan="2">&nbsp;</td>
          
        </tr>
        <tr>
          <td valign="top" class="bodyText style1"><p>Faculty of the Built Environment<br />
            University of New South Wales<br />
            Sydney, NSW 2007, Australia</p>
              <p>Tel: +61 2 9385 5357<br />
                Email: <a href="mailto:C.Bridge@unsw.edu.au">C.Bridge@unsw.edu.au</a></p></td>
                <td height="100" rowspan="2" valign="top"><img src="{% static "images/catherine.jpg" %}" 
                alt="Catherine Bridge" width="100" height="155" border="0" /></td>
        </tr>
       <tr>
         <td width="260" class="subHeader" valign="bottom">
         <a href="http://www2.ee.unsw.edu.au/~vijay/">Ass. Prof. Vijay Siavaraman</a></td>
		 <td width="30" rowspan="2">&nbsp;</td>
		 
        </tr>
        <tr>
          <td valign="top" class="bodyText style1"><p>School of Electrical Engineering and Telecommunications<br />
            University of New South Wales<br />
            Sydney, NSW 2007, Australia</p>
            <p>Telephone: +61 2 9385 6577<br />
            Email: <a href="mailto:vijay@unsw.edu.au">vijay@unsw.edu.au</a></p></td>
            <td width="320" height="100" rowspan="2" valign="top"><img src="{% static "images/vijay.jpg" %}" 
            alt="Vijay Sivaraman" width="100" height="155" border="0" /></td>
</tr>
        <tr>
         <td width="260" class="subHeader" valign="bottom">
         <a href="http://www.magiclamp.com.au/">Mr Jason Thorne Hons BSc</a></td>
		 <td width="30" rowspan="2">&nbsp;</td>
		
        </tr>
        <tr>
          <td valign="top" class="bodyText style1"><p>MagicLAMP Mobile Website Applications<br />
            Sydney NSW 2000<br />
            </p>
            <p>Email: <a href="mailto:jrthorne@magiclamp.com.au">jrthorne@magiclamp.com.au</a><br />
           </p></td>
             <td width="320" height="100" rowspan="2" valign="top"><img src="{% static "images/jason.jpg" %}" 
             alt="Jason Thorne" width="100" height="155" border="0" /></td>
        </tr>
        <tr>
          <td class="subHeader" valign="bottom">Ms Aolly Li</td>
          <td rowspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td valign="top" class="bodyText"><p class="style1">
          School of Electrical Engineering and Telecommunications<br />
            University of New South Wales<br />
            Sydney, NSW 2007, Australia</p></td>
            <td height="100" rowspan="2" valign="top"><img src="{% static "images/aolly.jpg" %}" alt="Aolly Li" 
            width="100" height="155" /></td>

        </tr>
        <tr>
          <td class="subHeader" valign="bottom">Ms Alia Huang</td>
          <td rowspan="2">&nbsp;</td>
          
        </tr>
        <tr>
          <td valign="top" class="bodyText"><p class="style1">School of Electrical Engineering and Telecommunications<br />
            University of New South Wales<br />
            Sydney, NSW 2007, Australia</p>
            <p class="style1">Email: <a href="mailto:a.huang@student.unsw.edu.au">aliahuang01@gmail.com</a></p></td>
            <td height="100" rowspan="2" valign="top"><img src="{% static "images/alia.jpg" %}" 
            alt="Alia Huang" width="100" height="155" /></td>
</td>
        </tr>
         <tr>
         <td width="260" class="subHeader" valign="bottom">Mr Alan Vo</td>
		 <td width="30" rowspan="2">&nbsp;</td>
		 <td width="320" height="100" rowspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td valign="top" class="bodyText"><p class="style1">School of Electrical Engineering and Telecommunications<br />
            University of New South Wales<br />
            Sydney, NSW 2007, Australia</p>
            <p class="style1">Email: <a href="mailto:alan.blvo@gmail.com">alan.blvo@gmail.com</a></p></td>
              <td height="100" rowspan="2" valign="top"><img src="{% static "images/alanvo.jpg" %}" 
            alt="Alan Vo" width="100" height="155" /></td>
        </tr>
      </table>


{% endblock %}
