{% extends "env_issues/base.html" %}
{% load staticfiles %}

{% block title%}Analysis Tweed Heads{% endblock %}

{% block heading %}Analysis Tweed Heads{% endblock %}

{% block content %}
	<table width="772" height="1823" border="0" cellpadding="2" cellspacing="0">
        <tbody>
            <tr>
                <td class="pageName" colspan="2">Tweed Heads North
                </td>
            </tr>
            <tr>
                <td valign="top" class="bodyText">
                    <p class="style1">Tweed Heads was chosen as one of the regional town centres in which to hold a field trial due to the fact that one in four of the total population is already over the age of sixty and it is the fastest growing area for older people in NSW outside of Sydney.<br>
                    The audit sessions in Tweed Heads North occurred on the afternoon of Monday 12th and morning of Tuesday 13th March 2012, and both involved walking the route shown in the image below. Rain preceded the walk on the 12th, and the 13th was sunny but cool. A pre-walk was done before the session walks, where Dr Bridge and myself completed some of the Council Audits.<br>
                    The two groups consisted of five and three older people with a total of seven females and one male. The average age was about 68 years old and they were all physically fit as they were all part of the local walk group.</p>
                </td>
            </tr>
                <tr>
                    <td align="center">
                        <img src="{% static "images/TweedHeads.png" %}" alt="Tweed Heads Walk and Talk route" width="683" height="437" >
                    </td>
                </tr>
                <tr><td align="center"><p class="style1">Tweed Heads Walk and Talk route and Visualisiation of results</p></td></tr>
                <tr>
                    <td class="subHeader">Overall</td>
                </tr>
                <tr>
                    <td class="bodyText"> <p class="style1">Tweed Heads had an overall rating of 15% positive, with a majority of comments about link (53%) and services (37%) from around 100 comments.</p></td>
                </tr>
                <tr>
                    <td align="center">
                        <img src="{% static "images/ResultsPNG001.png" %}" alt="Tweed Heads Scores" width="512" height="384" border="1">
                    </td>
                </tr>
                <tr><td align="center"><p class="style1">Histogram of Tweed Heads Scores</p></td>
                </tr>
                <tr>
                    <tr>
                        <td align="center">
                            <img src="{% static "images/ResultsPNG002.png" %}" alt="Tweed Heads Comments" width="512" height="384" border="1">
                        </td>
                    </tr>
                    <tr><td align="center"><p class="style1">Histogram of Tweed Heads Comments</p></td>
                    </tr>
                </tr>
            <tr>
                <td class="subHeader">Trip, Slip amps; Fall hazards</td>
            </tr>
            <tr>
                <td class="bodyText"> <p class="style1">Comments about links were in the majority, with a large number of comments being noted as negative. Additionally the negative comments about links were about trip or fall hazards (54%) and the need for indicated pedestrian crossings (20%). The particular type of link that seemed to cause the most problems was the walkways in Tweed Heads. Further analysis shows that the trip hazards, which made up 28% of comments, were attributed to:</p>
                <li>Uneven surfaces, some caused by changes in material.</li>
                <li>Temporary obstructions, such as fallen palm branches, trolleys and construction
                    fences.</li>
                    <p class="style1">However it appears that a few of these trip hazards had been noted by the council at the time and positive comments concerned the wide walkways and colour indication for slopes.</p>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <img src="{% static "images/ResultsPNG004.png" %}" alt="Tweed Heads Scores for Link Objects" width="512" height="384" border="1">
                        </td>
            </tr>
            <tr><td align="center"><p class="style1">Histogram of Tweed Heads Scores for Link Objects</p></td>
            </tr>
            <tr>
                <tr>
                    <td align="center">
                        <img src="{% static "images/ResultsPNG005.png" %}" alt="Distribution of Tweed Heads Link Types" width="512" height="384" border="1">
                            </td>
                </tr>
                <tr><td align="center"><p class="style1">Distribution of Tweed Heads Link Types</p></td>
                </tr>
            </tr>
            <tr>
                <td align="center">
                    <img src="{% static "images/ResultsPNG003.png" %}" alt="Tweed Heads Comments for Link Type" width="512" height="384" border="1">
                        </td>
            </tr>
            <tr><td align="center"><p class="style1">Histogram of Tweed Heads Comments for Link Types</p></td>
            </tr>
            <tr>
                <tr>
                    <td align="center">
                        <img src="{% static "images/ResultsPNG006.png" %}" alt="Tweed Heads Trip Hazard Causes" width="512" height="384" border="1">
                            </td>
                </tr>
                <tr><td align="center"><p class="style1">Division of Tweed Heads Trip Hazard Causes</p></td>
                </tr>
            </tr>
            <tr>
                <td class="subHeader">Vegetation and aesthetics</td>
            </tr>
            <tr>
                <td class="bodyText"> <p class="style1">There was a number of comments on the vegetation, including trees and shrubs, along the route. A large amount of negative comments were to do with maintenance of the vegetation along the walk route.</p>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <img src="{% static "images/ResultsPNG007.png" %}" alt="Distribution of scores concerning Vegetation in Tweed Heads" width="512" height="384" border="1">
                        </td>
            </tr>
            <tr><td align="center"><p class="style1">Distribution of scores concerning Vegetation in Tweed Heads</p></td>
            </tr>
            <tr>
                <td class="subHeader">Centralised services and businesses</td>
            </tr>
            <tr>
                <td class="bodyText"> <p class="style1">Of the businesses commented on, the services provided were brought up many times in a positive light. The common opinion was that having relevant services within close proximity to each other is a positive notion and in particular both walk group from Tweed Heads noted the <i>After Hours Surgery</i> on Wharf St as being invaluable.</p>
                </td>
            </tr>
            <tr>
                <td class="subHeader">Benches, Street lighting amps; Rubbish bins</td>
            </tr>
            <tr>
                <td class="bodyText"> <p class="style1">A number of comments along the route were concerned with the lack of benches and rubbish bins or the insufficient amount street lighting. However this could be due to the route chosen.</p>
                </td>
            </tr>
            
            </tr>

        </tbody></table>

{% endblock %}