{% extends "env_issues/base.html" %}
{% load staticfiles %}

{% block title%}Comparison Analysis{% endblock %}

{% block heading %}Comparison Analysis{% endblock %}

{% block content %}
<table width="772" height="1823" border="0" cellpadding="2" cellspacing="0">
	<tbody>
		<tr>
			<td class="pageName" colspan="2">Comparison
			</td>
		</tr>
		<tr>
			<td valign="top" class="bodyText">
				<p class="style1">Tweed Heads North and Wollongong are two different costal town centres. One with a fast growing older population and the other with an older population that is growing with the city. By contrasting the two we hope to identify potential benefits to existing solutions as to offer suggestions to both town centres.</p>
			</td>
		</tr>
			<td class="subHeader">Overall</td>
		</tr>
		<tr>
			<td class="bodyText"> <p class="style1">As an overview, Tweed Heads had a majority of comments about link (53%) and ser- vices (37%) while Wollongong commented mainly on spaces (39%) and services (33%). Additionally it is quite apparent that Wollongong has a more positive result in comparison to Tweed Heads.</p></td>
		</tr>
		<tr>
			<td align="center">
				<img src="{% static "images/Results17.png" %}" alt="Comparison of Object Type distribution" width="512" height="384" border="1">
					</td>
		</tr>
		<tr><td align="center"><p class="style1">Comparison of Object Type distribution</p></td>
		</tr>
		<tr>
			<tr>
				<td align="center">
					<img src="{% static "images/Results21.png" %}" alt="Comparison of Score distribution" width="512" height="384" border="1">
						</td>
			</tr>
			<tr><td align="center"><p class="style1">Comparison of Score distribution</p></td>
			</tr>
		</tr>
		<tr>
			<td class="subHeader">Trip, Slip amps; Fall hazards</td>
		</tr>
		<tr>
			<td class="bodyText"> <p class="style1">Both Tweed Heads and Wollongong had quite a few comments about trip or slip hazards within the town centre. Of these comments, all of them were negative and most extremely negative due to the injuries they could potentially cause. Service covers in both town centres were always pointed out as trip hazards. Additionally a number of slip hazards were noted in Wollongong pertaining to the leaves from trees in autumn. However participants from both areas commented positively on the large width walkway areas.</p>
			</td>
		</tr>
		<tr>
			<td align="center">
				<img src="{% static "images/Results18.png" %}" alt="Comparison of Trip Hazard comments as a percentage of all comments" width="512" height="384" border="1">
					</td>
		</tr>
		<tr><td align="center"><p class="style1">Comparison of Trip Hazard comments as a percentage of all comments</p></td>
		</tr>
		<tr>
			<td class="subHeader">Centralised services and businesses</td>
		</tr>
		<tr>
			<td class="bodyText"> <p class="style1">Both Tweed Heads and Wollongong commented on the availability of services along the route. This demonstrates why centralising the services needed by older people can improve older people’s experience in the town centre.</p>
			</td>
		</tr>
		<tr>
			<td align="center">
				<img src="{% static "images/Results19.png" %}" alt="Comparison of Service related scores" width="512" height="384" border="1">
					</td>
		</tr>
		<tr><td align="center"><p class="style1">Comparison of Service related scores</p></td>
		</tr>
		<tr>
			<td class="subHeader">Benches</td>
		</tr>
		<tr>
			<td class="bodyText"> <p class="style1">Both locations commented on the availability of benches. Tweed heads noted there were no benches along most of the walk, however there were benches outside the shopping centre though inappropriately located. Wollongong com- mented on the number of benches along the walk route, however noted the protruding bolts on the benches as a problem and the presence of smokers in the area decreased the availability of viable benches.</p>
			</td>
		</tr>
		<tr>
			<td align="center">
				<img src="{% static "images/Results20.png" %}" alt="Comparison of Bench related scores" width="512" height="384" border="1">
					</td>
		</tr>
		<tr><td align="center"><p class="style1">Comparison of Bench related scores</p></td>
		</tr>
		<tr>
			<td class="subHeader">Signage</td>
		</tr>
		<tr>
			<td class="bodyText"> <p class="style1">Both locations indicated that signage was a problem. Shared walkways (bike and pedes- trian in Tweed Heads, bike, pedestrian and car in Wollongong) did not have very visible signage, however Wollongong did have line markings. Signs to indicate road names and directions were mainly for road traffic and not pedestrians (ie street sign in the middle of the roundabout, Tweed Heads)</p>
			</td>
		</tr>
		<tr>
			<td class="subHeader">Tree species</td>
		</tr>
		<tr>
			<td class="bodyText"> <p class="style1">Both town centres commented on the species of trees along walkways on the route. Tweed Heads responded positively to native species and negatively towards poorly maintained vegetation. Wollongong were very positive about the deciduous species of tree, however noted that the wet leaves were dangerous and were a slip hazard.</p>
			</td>
		</tr>
		<tr>
			<td class="subHeader">Public Pay Phones</td>
		</tr>
		<tr>
			<td class="bodyText"> <p class="style1">Both locations noted the availability of public phone booths as positive, as participants pointed out that mobile phones are not ubiquitous or infallible.</p>
			</td>
		</tr>
<tr>
<td class="subHeader">Rubbish bins</td>
</tr>
<tr>
<td class="bodyText"> <p class="style1">Both locations commented on cleanliness and the availability of bins. A distinct lack of bins was noted in Tweed Heads and while there were positive comments about the number of bins in Wollongong, there were not enough.</p>
</td>
</tr>
		</tr>

</tbody></table>


{% endblock %}